
<h2>
  Billing on Rails
</h2>

<div style="width:99%; margin:auto;">
  Hello and Welcome to Billing on Rails,<br />
  you can start by <%= link_to "adding a bill", new_bill_path() %>
  or <%= link_to "viewing your current balance", balance_path(:year => Time.now.year ) %>.
</div>