div.find_bills {
    text-align:right;
    padding:15px;
}
div.find_bills,
div.open_bills,
div.billed_bills,
div.paid_bills {
    width:66%;
    margin:1em auto;
    border:1px solid #E4EDFF;
    padding:7px;
}
