/*
  Stylesheet for the Bill#show Action
*/

/* this is from screen.css might be neccessary to move */

#mydata {
    margin: 5em auto 5em auto;
    width:100%;
}


/* this is safe */

h2.company_logo {
    text-align:left;
    width:314px;
    height:128px;
}
#bill {
    width:95%;
    margin:auto;
}
p#myadress {
    font-size: 75%;
}
#bill_data {
    float:right;
    text-align:right;
    list-style-type:none;
}
table.positions {
    border: 1px solid #000;
    width:100%;
}
table.positions tr th,
table.positions tr td {
    border:1px solid #000;
}
div#total {
    margin: 2em 0 2em 0;
    text-align:right;
}
div#total p {
    margin:0;
}
div#total p#gross {
    margin-top:1em;
    font-size:120%;
}
div#mydata div {
    float:left;
    font-size:75%;
} 
div#mydata div p{
    margin:0;
}
