/* 
    Document   : client
    Created on : 04.06.2009, 22:04:47
    Author     : flyfloh
    Description:
        Purpose of the stylesheet follows.
*/

#adress {
    float:left;
}
#contact {
    float:right;
}
