/* 
    Document   : company
    Created on : 04.01.2010, 02:49:12
    Author     : flyfloh
    Description:
        Purpose of the stylesheet follows.
*/

div.company_logo {
    padding:12px 150px;
    float:left;
}
div.company_logo > img {
    height:150px;
}
div#company_menu {
    float:right;
}
div#adress {
    clear:left;
    float:left;
}
div#contact {
    clear:right;
    float:right;
}

div#bank {
    float:right;
    clear:right;
}
div#tax {
    float:left;
    clear:left;
}
