/* 
    Document   : expenditure_show
    Created on : 04.06.2009, 19:00:46
    Author     : flyfloh
    Description:
        Purpose of the stylesheet follows.
*/


div#billed_date,
div#net_total,
div#gross_total {
    float:left;
}
div#paid_date,
div#tax {
    float:right;
}
div#net_total,
div#gross_total {
    clear:left;
}
span.num {
    font-size:117%;
    margin-left:3em;
}
span.date {
    margin-left:3em;
}

#info {
    width:66%;
    list-style-type:none;
    text-align:center;
}
#info li {
    float:left;
    padding:.5em;
}