body {
    padding:0;
    margin:0;
}
h1 {
    margin:0 2em 0 0;
    padding:0;
    background: url('../images/h1.png') repeat-x;
    width:415px;
    height:50px;
    float:left;
}
a {
    color:#00f;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

/* Layout IDs */

#head {
    height: 50px;
    width:100%;
    margin: 0;
    background: url('../images/h1bg.png') repeat-x;
}
#navi {
    margin:0;
    padding:15px;
    position:absolute;
    right:10px;
}
#navi li {
    float:left;
    list-style-type:none;
    margin:auto .5em;
}
#navi li a {
    color:#777;
    font-weight:bold;
    font-size:12px;
}
#navi li a:hover {
    text-decoration:none;
    color:#a7a7a7;
}

#subnavi {
    background: #c7c7c7;
    margin:0 0 10px 20px;
    width:150px;
    float:right;
    padding:0;
    border-left:2px solid #ddd;
    border-bottom:2px solid #ddd;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#subnavi li {
    list-style-type:none;
    margin:0;
    border-bottom:2px solid #ddd;
    padding:5px 5px 5px 15px;
    font-weight:bold;
    font-size:11px;
}
#subnavi li:last-child {
    border-bottom:0;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#subnavi li:hover {
    background:#a7a7a7;
}
#subnavi li a {
    color:#777;
}
#subnavi li a:hover {
    text-decoration:none;
}

#content {
    padding:1em;
}

#flash_notice {
    position:fixed;
    top:0;
    background: #fbb;
    border-bottom: 1px solid #fdd;
    width:100%;
    margin-left:-8px;
    padding:5px 10px 5px 10px;
    font-size:110%;
    text-align:center;
    font-weight:bold;
}

/* Classes */
.summary {
    border: 1px solid #E4EDFF;
    width:45%;
    margin:1em auto;
    padding:7px;
}
div.bills,
div.clients,
div.expenditures {
    width:66%;
}

/* Search Fields */

div.find {
    text-align:right;
    padding:15px 7px;
    width:66%;
    margin:1em auto;
    border:1px solid #E4EDFF;
}


/* Ruby Form Errors */

div.errorExplanation {
    background: #ffcfcf;
    border: 1px solid #ffa0a0;
    padding: 5px;
    margin: 2em;
}
div.fieldWithErrors input {
    background-color: #ffcfcf;
}