<% content_for :subnavi do %>
    <%= render :partial => "navigation" %>
<% end %>

<h2>Clients</h2>

<div class="summary clients">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Firma</th>
        <th>Name</th>
        <th>Vorname</th>
        <th>Open Bills</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => @clients %>
    </tbody>
  </table>  
</div>
