<h2>Edit the Company</h2>

<div class="form">
  <%= error_messages_for :company -%>


<% form_for :company, :url => { :action => "update" } do |form| %>
  <fieldset>
    <legend>Edit your Company</legend>

    <%= render :partial => 'form', :object => form %>
    
    <%= submit_tag "save" %>
    <%= link_to "cancel", :action => "index" %>
  </fieldset>
<% end %>
</div>

